	<div class="row">
		<div class="span12 main-row-padding">
			<div class="span visible-desktop">
				<div class="expedited-passport main-image-margin"></div>
			</div>
		<div class="span8">
			<div class="span7 line-break">
				<h1 class="light-bold" title="Expedited New U.S. Passport Applications | Austin - Houston - Dallas - Denver">ADD VISA PAGES TO A U.S. PASSPORT</h1>
					<h2 class="light-bold" title="Expedited New U.S. Passport Application | Austin - Houston - Dallas - Denver ">Add Additional Visa Pages to a U.S. Passport</h2>
						<h3>We specialize in same-day passport services in Austin, Dallas, Houston, and throughout the United States. Get a new U.S. passport today. 
						</h3>
				
			</div>
		</div>	
		</div>
	</div>	
		<div class="span12 second-row-padding">
		<div class="span11">
			<h2 class="widest-border bottom-margin"><span class="wide-padding">Pricing for Adding Visa Pages to Passport</span></h2>
				<table class="">
				
					<tr  class="small-border">
						<td class="large one">Business Days</td>
						<td class="large one t-align-center">10-14 Days</td>
						<td class="large one t-align-center">6-9 Days</td>
						<td class="large one t-align-center">2-5 Days</td>
						<td class="large one t-align-center">24 Hours</td>
					</tr>
					<tr>
						<td class="large one b-border">Processing Fee</td>
						<td class="large b-border t-align-center">$75.00</td>
						<td class="large b-border t-align-center">$100.00</td>
						<td class="large b-border t-align-center">$200.00</td>
						<td class="large b-border t-align-center">$300.00</td>
					</tr>
					<tr>
						<td class="large one b-border">Government Fee</td>
						<td class="large b-border t-align-center">$142.00</td>
						<td class="large b-border t-align-center">$142.00</td>
						<td class="large b-border t-align-center">$142.00</td>
						<td class="large b-border t-align-center">$142.00</td>
					</tr>
					<tr  class="small-border">
						<td class="large one">Total Fee</td>
						<td class="large t-align-center">$207.00</td>
						<td class="large t-align-center">$242.00</td>
						<td class="large t-align-center">$342.00</td>
						<td class="large t-align-center">$442.00</td>

					</tr>

					
				</table>
	
		</div>
	</div>

	<div class="span12 second-row-padding">
		<div class="span6">
			<h2 class="widest-border"><span class="wide-padding">Download Passport Documents</span></h2>
			<div class="row">
				<div class="span2"><%= link_to "", asset_path("US-Passport-Additional-Visa-Pages.pdf"), :class => "download-icon", :target => "_blank" %></div>
				<div class="span4"><h3 class="t-align-top">Download this file to get the documents started on the Additional Visa Pages application.  </h3></div>
			</div>
		</div>
		
		<div class="span5">
			<h2 class="widest-border"><span class="wide-padding">We Take Passport Photos</span></h2>
			<div class="row">
				<div class="span2"><div class="passport-photo"></div></div>
				<div class="span3"><h3 class="t-align-top">TPAVC will take photos for your passport application. </h3></div>
			</div>
			
		
		</div>
	</div>

		<div class="span12 second-row-padding">
					<div class="span11">
							<h2 class="widest-border bottom-margin"><span class="wide-padding">Step-by-Step Checklist Overview &amp; Passport Application Instructions</span></h2>
						</div>

				<div class="span6">
						<div class="tabbable tabs-left">
							 <ul class="nav nav-tabs">
							    <li>
							    	<a class="passport-tabs" href= "#tab1"  data-toggle="tab">
							    		<h4 class="light-bold">Complete and Print the DS-4085 Passport Application Form</h4> 
							    		
							    	</a>
							    </li>
	    						<li>
	    							<a class="passport-tabs" href= "#tab2"  data-toggle="tab">
	    								<h4 class="light-bold">Complete (3) Original Letter of Authorization Forms</h4>
	    								
	    							</a>
	    						</li>	
	    						 <li>
	    						 	<a class="passport-tabs" href= "#tab3"  data-toggle="tab">
	    						 		<h4 class="light-bold">Valid U.S. Passport</h4>
	    						 			
	    						 	</a>
	    						 </li>
	    						<!-- <li>
	    							<a class="passport-tabs" href= "#tab4"  data-toggle="tab">
	    								<h4 class="light-bold">(1) Proof of Personal Identification</h4>
	    							</a>
	    						</li> -->
	    						 <!-- <li>
	    						 	<a class="passport-tabs" href= "#tab5"  data-toggle="tab">
	    						 		<h4 class="light-bold">Proof of Citizenship</h4> 
	    						 	</a>
	    						 </li> -->
	    						<li>
	    							<a class="passport-tabs" href= "#tab6"  data-toggle="tab">
	    								<h4 class="light-bold">Proof of Travel</h4>
	    								
	    							</a>
	    						</li>
	    						 <li>
	    						 	<a class="passport-tabs" href= "#tab7"  data-toggle="tab">
	    						 		<h4 class="light-bold">Government Fees</h4>
	    						 	</a>
	    						 </li>
	    						<li>
	    							<a class="passport-tabs" href= "#tab8"  data-toggle="tab">
	    								<h4 class="light-bold">Complete TPAVC Order Form for payment</h4>
	    								
	    							</a>
	    						</li>
	    						 <li>
	    						 	<a class="passport-tabs" href= "#tab9"  data-toggle="tab">
	    						 		<h4 class="light-bold">Quality Check Complete by TPAVC Staff</h4>
	    						 		
	    						 	</a>
	    						 </li>	  
	    						 	<li>
	    						 	<a class="passport-tabs" href= "#tab10"  data-toggle="tab">
	    						 		<h4 class="light-bold">Ship All Your Documents to TPAVC</h4>
	    						 		
	    						 	</a>
	    						 </li>	
							</ul>
							 
						</div>
					
					</div>	
		

				<div class="span5">
					
					<div class="tab-content add-height">
					    <div class="tab-pane active" id="tab1">
					    	<h3>DS-4053 Passport Application Form</h3>
					    	<ol>
					    		<li>Please complete the <a href="https://pptform.state.gov/" target="_blank">U.S. State Department DS-4053 application form</a>.  Be advised that the DS-4053 application must be completed online and printed for submission.  Applications can be completed in one of our local offices. </li>
					    		<li>Hand written forms are NOT accepted.</li>
					    	
					    	</ol>

					    	<!-- Pretty Photo -->
					    	
					    	<!-- End Pretty Photo -->

					    </div>
					    <div class="tab-pane" id="tab2">
						
					      	<h3>Letter of Authorization Forms - (LOA)</h3>
							<ol>
								<li>(2) Two Signed Original LOA must be submitted.</li>
								<li>The Letters of Authorization enables The Passport & Visa Company to hand carry your expedited passport application and certified documents into the US Department of State on your behalf. The LOA’s authorizes our agents to be notified and address any potential problems that may arise during the passport expediting process.</li>
							</ol>

							<!-- Pretty Photo -->
					    	<div class="pretty-images-content">
					    		<%= link_to image_tag("letter-of-authorization-thumb.png"), image_path("letter-of-authorization-large.png"), {:rel => "prettyPhoto[two]", :title => ""} %>
					    	</div>
					    	<!-- End Pretty Photo -->

					    </div>
					    <div class="tab-pane" id="tab3">
					    	<h3>Valid U.S. Passport</h3>
							<ol>
								<li>You will need to submit your PHYSICAL valid passport with your U.S. State Department DS-4053 application form.</li>
								<li>Please be advised that your passport should be undamaged.   Passports should be free of fraying, tears, damage to the credential page and pages that have been separated from the binding. Severe damage can be deemed mutilated by the Passport Agency in which case the applicant may have to apply for a new passport</li>	
							</ol>

							<!-- Pretty Photo -->
					   
					    	<!-- End Pretty Photo -->

					    </div>
					  
					 
					    <div class="tab-pane" id="tab6">
					    	<h3>Proof of Travel</h3>
					    	<ol>
					    		<li>Copy of your international airline, bus, or cruise ticket or a round trip itinerary</li>
					    		<li>If traveling by personal vehicle, an original letter from the applicant addressed to the US Department of State-Passport Agency detailing your international travel plans.</li>
					    		<li>An original, signed letter from your employer on the company’s letterhead, address to the US Department of State – Passport Agency detailing your international travel.</li>
					    	</ol>

					    	<!-- Pretty Photo -->
					    	<div class="pretty-images-content">
					    		<%= link_to image_tag("travel-thumb.png"), image_path("travel-large.png"), {:rel => "prettyPhoto[six]", :title => "You will need a travel itenerary"} %>
					    	</div>
					    	<!-- End Pretty Photo -->

					    </div>
					    <div class="tab-pane" id="tab7">
					      <h3>Government Fees</h3>
					      <ol>
								<li>Provide a check or money order made payable to the US Department of State for $170.00.  NOTE: Please indicate your Full Name and Date of Birth in the memo field of your check.
					    			<ul>
					    				<li>Example: (Pauline LeAnn Brazo 10-Oct-1980).</li>
					    			</ul>
					    		</li>
					    		<li>NOTE: In lieu of providing a separate check, this government fee can be paid with the expedite fee as part of your “Order.”  The Passport and Visa Company will provide the check on your behalf to the Department of State.</li>
					    		<li>You must make an appearance at an Acceptance Agency to have your signature witnessed.  You can look up the closest witnessing facility location based on zip code by going to <a href="http://iafdb.travel.state.gov">http://iafdb.travel.state.gov</a> . Some locations require appointments. Each location will indicate the facility name, street address, city, and pubic phone number, the hours of acceptance and the days.</li>
					    		<li>Provide a check or credit card payment for the Witnessing Execution Fee of $25.00 at the Acceptance Agency. Note: Not all locations accept credit card payments and an additional service fee may apply.</li>					      </ol>

					    	<!-- Pretty Photo -->
					    	<div class="pretty-images-content">
								<%= link_to image_tag("check-thumb.png"), image_path("check-large.png"), {:rel => "prettyPhoto[seven]", :title => "You can write a personal check."} %>					    	
							</div>
					    	<!-- End Pretty Photo -->

					    </div>
					    <div class="tab-pane" id="tab8">
					    	<h3>Order Form &amp; Payment</h3>
					    	<ol>
					    		<li>Please download and complete <%= link_to "The Passport & Visa Company Order Form", asset_path("Order-Form.pdf"), :class => "", :target => "_blank" %> with your payment information.  Accepted forms of payment include: American Express, Visa, MasterCard, Discover, Money Order, Cash or payment by Check.</li>
					    	</ol>

					    	<!-- Pretty Photo -->
					    	<div class="pretty-images-content">
					    		<%= link_to image_tag("orderform-thumb.png"), image_path("orderform-large.png"), {:rel => "prettyPhoto[eight]", :title => "Fill out the TPAVC order form and return it with your application."} %>
					    	</div>
					    	<!-- End Pretty Photo -->

					    </div>
					    <div class="tab-pane" id="tab9">
					    	<h3>Quality Check </h3>
					    	<ol>
								<%= render :partial => "layouts/uploadform_passport" %>
					    	</ol>
					    </div>
					    <div class="tab-pane" id="tab10">
							<%= render :partial => "layouts/generate_label" %>
					    </div>
				  	</div>
				  </div>
				</div>	

		




	
