

	<div class="row">
		<div class="span12 main-row-padding">
			<div class="span visible-desktop">
				<div class="expedited-passport main-image-margin"></div>
			</div>
		<div class="span8">
			<div class="span7 line-break">
				<h1 class="light-bold" title="Expedited Passport Applications | Austin - Houston - Dallas - Denver">EXPEDITED U.S. PASSPORTS</h1>
					<h2 class="light-bold" title="Expedited New US Passport Application | Austin - Houston - Dallas - Denver ">New U.S. Passports and U.S. Passport Renewals</h2>
						<h3>We specialize in same-day passport services in Austin, Dallas, Houston, Denver, and throughout the United States. Get a new U.S. passport or renew your U.S. passport today. <!-- Send us an <%= link_to "email", contact_path, :title => "Send us an email", :class => "highlight" %> or chat live. -->
						</h3>
					<!-- <div class="passport-banner visible-desktop"></div> -->			
			</div>
		</div>	
		</div>
	</div>	
	


	<div class="span12 second-row-padding">
		
			
			
					<div class="span13">
						<!-- <div class="new-passports-large"></div> -->
						<div class="passport-content passport-border">	
							<h3><%= link_to "New Adult Passport ", newadultpassport_path, :title => "Get a New U.S. Adult Passport", :class => "light-bold" %></h3>
							<ul class="no-margin passport-box">
								<li>If you are a first time applicant;</li>
								<li>or a prior passport was issued before age 15 ;</li>
								<li>or your passport was issued more than 15 years ago;</li>
								<li>or your expired passport is not in your possession;</li>
								<li>or your current valid passport is damaged.</li>
							</ul>
							
							<p>
								<%= link_to "Download Documents", "#", :class => "btn btn-primary b-float-right" %>
							</p> 
						</div>
					</div>	
						
					<div class="span13">	
						<!-- <div class="renewal-passports-large"></div> -->
						<div class="passport-content passport-border">
							<h3><%= link_to "Passport Renewal", renewpassport_path, :title => "Passport Renewal", :class => "light-bold"  %></h3>
							<ul class="no-margin passport-box">
								<li>You already have a passport that is not damaged;</li>
								<li>and your passport was issued within the last 15 years;</li>
								<li>and you were over 16 at the time it was issued;</li>
								<li>and you have not changed your legal name.</li>
								<!-- <li>or your current valid passport is damaged.</li> -->
							</ul>
							
							<p>
								<%= link_to "Download Documents", "#", :class => "btn btn-primary b-float-right" %>
							</p> 
						</div>
							
					</div>
					<div class="span13">	
							<!-- <div class="name-change-passports-large"></div> -->
							<div class="passport-content passport-border">
								<h3><%= link_to "Name Change", namepassport_path, :title => "Name Change on Your Passport", :class => "light-bold"  %></h3>
								<ul class="no-margin passport-box">
									<li>Changed your legal name since passport issuance,</li>
									<li>and the passport's issue date is within one (1) year,</li>
									<li>otherwise renew your passport.</li>
									<!-- <li>and you have not changed your legal name;</li> -->
									<!-- <li>or your current valid passport is damaged.</li> -->
								</ul>
								
								<p>
									<%= link_to "Download Documents", "#", :class => "btn btn-primary b-float-right" %>
								</p>
							</div>
							
						</div>
				
					<div class="span13">
						<!-- <div class="add-pages-passports-large"></div> -->
						<div class="passport-content passport-border">
							<h3><%= link_to "Add Pages", addpagespassport_path, :title => "Add Pages to Your Passport", :class => "light-bold"  %>
							</h3>
							<ul class="no-margin passport-box-two">
									<li>Your current valid passport has run out of pages,</li>
									<li>and the passport's expiration is at least 1 year away,</li>
									<li>otherwise apply to renew your passport.</li>
									<!-- <li>and you have not changed your legal name;</li> -->
									<!-- <li>or your current valid passport is damaged.</li> -->
								</ul>
							
							<p>
								<%= link_to "Download Documents", "#", :class => "btn btn-primary b-float-right" %>
							</p>
						</div>	 						
					</div>	
					<div class="span13">		
						<!-- <div class="lost-or-damaged-passports-large"></div> -->
						<div class="passport-content passport-border">
							<h3><%= link_to "Lost Passport", lostpassport_path, :title => "Lost or Stolen Passport", :class => "light-bold"  %>
							</h3>
								<ul class="no-margin passport-box-two">
									<li>If the missing passport is still valid, apply here.</li>
									<li>If the missing passport has expired, apply for renewal.</li>
									<!-- <li>otherwise apply to renew your passport.</li> -->
									<!-- <li>and you have not changed your legal name;</li> -->
									<!-- <li>or your current valid passport is damaged.</li> -->
								</ul>
							
							<p>
								<%= link_to "Download Documents", "#", :class => "btn btn-primary b-float-right" %>
							</p>
						</div>
					</div>	
					<div class="span13">		
							<!-- <div class="second-passports-large"></div> -->
							<div class="passport-content passport-border">
								<h3><%= link_to "Second Passport", secondpassport_path, :title => "Get a Second Passport", :class => "light-bold"  %>
								</h3>
								<ul class="no-margin passport-box-two">
									<li>Issued at the discretion of U.S. Department of State;</li>
									<li>or for security reasons.</li>
									<!-- <li>otherwise apply to renew your passport.</li> -->
									<!-- <li>and you have not changed your legal name;</li> -->
									<!-- <li>or your current valid passport is damaged.</li> -->
								</ul>
								
								<p>
									<%= link_to "Download Documents", "#", :class => "btn btn-primary b-float-right" %>
								</p> 
							</div>
						</div>	
						
			
		
</div>
	
			
		

