	<div class="row">
		<div class="span12 main-row-padding">
			<div class="span visible-desktop">
				<div class="expedited-passport main-image-margin"></div>
			</div>
		<div class="span8">
			<div class="span7 line-break">
				<h1 class="light-bold" title="Expedited New U.S. Passport Applications | Austin - Houston - Dallas - Denver">NEW U.S. MINOR PASSPORTS</h1>
					<h2 class="light-bold" title="Expedited New U.S. Passport Application | Austin - Houston - Dallas - Denver ">Get a New U.S. Passport in as little as 24 hours</h2>
						<h3>We specialize in same-day passport services in Austin, Dallas, Houston, and throughout the United States. Get a new U.S. passport today. <!-- Send us an <%= link_to "email", contact_path, :title => "Send us an email", :class => "highlight" %> or chat live. -->
						</h3>
					<!-- <div class="passport-banner visible-desktop"></div> -->			
			</div>
		</div>	
		</div>
	</div>	
<div class="span12 second-row-padding">
		<div class="span11">
			<h2 class="widest-border bottom-margin"><span class="wide-padding">Pricing for a New U.S. Minor Passport</span></h2>
				<table class="">
				
					<tr  class="small-border">
						<td class="large one">Business Days</td>
						<td class="large one t-align-center">10-14 Days</td>
						<td class="large one t-align-center">6-9 Days</td>
						<td class="large one t-align-center">2-5 Days</td>
						<td class="large one t-align-center">24 Hours</td>
					</tr>
					<tr>
						<td class="large one b-border">Processing Fee</td>
						<td class="large b-border t-align-center">$75.00</td>
						<td class="large b-border t-align-center">$100.00</td>
						<td class="large b-border t-align-center">$200.00</td>
						<td class="large b-border t-align-center">$300.00</td>
					</tr>
					<tr>
						<td class="large one b-border">Government Fee</td>
						<td class="large b-border t-align-center">$140.00</td>
						<td class="large b-border t-align-center">$140.00</td>
						<td class="large b-border t-align-center">$140.00</td>
						<td class="large b-border t-align-center">$140.00</td>
					</tr>
					<tr  class="small-border">
						<td class="large one">Total Fee</td>
						<td class="large t-align-center">$215.00</td>
						<td class="large t-align-center">$240.00</td>
						<td class="large t-align-center">$340.00</td>
						<td class="large t-align-center">$440.00</td>

					</tr>

					
				</table>
	
		</div>
	</div>

	<div class="span12 second-row-padding">
		<div class="span6">
			<h2 class="widest-border"><span class="wide-padding">Download Passport Documents</span></h2>
			<div class="row">
				<div class="span2"><%= link_to "", asset_path("US-Passport-Minor-New.pdf"), :class => "download-icon", :target => "_blank" %></div>
				<div class="span4"><h3 class="t-align-top">Download this file to get the documents started on your New U.S. Minor Passport application.  </h3></div>
			</div>
		</div>
		
		<div class="span5">
			<h2 class="widest-border"><span class="wide-padding">We Take Passport Photos</span></h2>
			<div class="row">
				<div class="span2"><div class="passport-photo"></div></div>
				<div class="span3"><h3 class="t-align-top">TPAVC will take photos for your passport application. </h3></div>
			</div>
			
		
		</div>
	</div>

		<div class="span12 second-row-padding">
					<div class="span11">
							<h2 class="widest-border bottom-margin"><span class="wide-padding">Step-by-Step Checklist Overview &amp; Passport Application Instructions</span></h2>
						</div>

				<div class="span6">
						<div class="tabbable tabs-left">
							 <ul class="nav nav-tabs">
							 	  <li>
							    	<a class="passport-tabs" href= "#tab10"  data-toggle="tab">
							    		<h4 class="light-bold">Complete and Print the DS-11 Passport Application Form</h4> 
							    		
							    	</a>
							    </li>
							    <li>
							    	<a class="passport-tabs" href= "#tab1"  data-toggle="tab">
							    		<h4 class="light-bold">Print and complete the DS-3053 application form</h4> 
							    		
							    	</a>
							    </li>
	    						<li>
	    							<a class="passport-tabs" href= "#tab2"  data-toggle="tab">
	    								<h4 class="light-bold">Complete (3) Original Letter of Authorization Forms</h4>
	    								
	    							</a>
	    						</li>	
	    						 <li>
	    						 	<a class="passport-tabs" href= "#tab3"  data-toggle="tab">
	    						 		<h4 class="light-bold">(2) Passport-Size Photographs</h4>
	    						 			
	    						 	</a>
	    						 </li>
	    						
	    						<li>
	    							<a class="passport-tabs" href= "#tab4"  data-toggle="tab">
	    								<h4 class="light-bold">(1) Proof of Personal Identification (Parents)</h4>
	    							</a>
	    						</li>
	    						 <li>
	    						 	<a class="passport-tabs" href= "#tab5"  data-toggle="tab">
	    						 		<h4 class="light-bold">Proof of U.S. Citizenship</h4> 
	    						 	</a>
	    						 </li>
	    						  <li>
	    							<a class="passport-tabs" href= "#tab12"  data-toggle="tab">
	    								<h4 class="light-bold">Present Evidence of Relationship to Minor (Special Circumstances)</h4>
	    							</a>
	    						</li>
	    						<li>
	    							<a class="passport-tabs" href= "#tab6"  data-toggle="tab">
	    								<h4 class="light-bold">Proof of Travel</h4>
	    								
	    							</a>
	    						</li>
	    						 <li>
	    						 	<a class="passport-tabs" href= "#tab7"  data-toggle="tab">
	    						 		<h4 class="light-bold">Government Fees</h4>
	    						 	</a>
	    						 </li>
	    						<li>
	    							<a class="passport-tabs" href= "#tab8"  data-toggle="tab">
	    								<h4 class="light-bold">Complete TPAVC Order Form for payment</h4>
	    								
	    							</a>
	    						</li>
	    						 <li>
	    						 	<a class="passport-tabs" href= "#tab9"  data-toggle="tab">
	    						 		<h4 class="light-bold">Quality Check Complete by TPAVC Staff</h4>
	    						 		
	    						 	</a>
	    						 </li>	  
	    						 	 <li>
	    						 	<a class="passport-tabs" href= "#tab11"  data-toggle="tab">
	    						 		<h4 class="light-bold">Ship All Your Documents to TPAVC</h4>
	    						 		
	    						 	</a>
	    						 </li>	
							</ul>
							 
						</div>
					
					</div>	
			
				<div class="span5">
					
					<div class="tab-content minor-height">
					    <div class="tab-pane active" id="tab10">
					    	<h3>DS-11 Passport Application Form</h3>
					    	<ol>
					    		<li>Please complete the <a href="https://pptform.state.gov/" target="_blank">U.S. Department of State’s DS-11 application form</a>. Be advised that the DS-11 application must be completed online and then printed for submission. Applications may be completed at one of our local offices.</li>
					    		<li>Hand written forms are NOT accepted.</li>
					    		<li>Minor applicants and their parent(s) or legal guardians must appear before an Acceptance Agency to have their signature witness. </li>
					    		<li>Do NOT sign and date your application until you are instructed to do so by an Acceptance Agent.</li>
					    		<li>Once the application is sealed by an Acceptance Agent, they will return it to you (Do not open or break the sealed package).  The sealed package MUST be submitted to the U.S. State Department within five days.</li>
					    		
					   
					    	</ol>

					    	<!-- Pretty Photo -->
					    	<div class="pretty-images-content">
					    		<%= link_to image_tag("ds11-thumb.png"), image_path("ds11-large.png"), {:rel => "prettyPhoto[one]", :title => ""} %>
					    		<%= link_to image_tag("ds3053-thumb.png"), image_path("ds3053-large.png"), {:rel => "prettyPhoto[one]", :title => ""} %>
					    	</div>
					    	<!-- End Pretty Photo -->

					    </div>
					     <div class="tab-pane" id="tab1">
					    	<h3>DS-3053 Passport Application Forms</h3>
					    	<ol>
					    		
					    		<li>If one of the consenting parents or legal guardians are unable to accompany the minor to your local Acceptance Agency  please complete the DS-3053 “Statement of Consent”. </li>
					    		<li>If you are the applying parent or legal guardian and the written consent of the non-applying parent or guardian cannot be obtained please complete the DS-3053 “Statement of Special Circumstances”.  The statement must explain in detail the non-applying parent's unavailability and recent efforts made to contact the non-applying parent.</li>
					    		<li>3)	DS-3053 Form MUST be notarized and be accompanied with a photocopy of the absent parent or legal guardian valid identification.  The valid identification is only needed when filling out the “Statement of Consent” portion of the DS-3053.</li>
					   
					    	</ol>

					    	<!-- Pretty Photo -->
					    	<div class="pretty-images-content">
					    		<%= link_to image_tag("ds11-thumb.png"), image_path("ds11-large.png"), {:rel => "prettyPhoto[one]", :title => ""} %>
					    		<%= link_to image_tag("ds3053-thumb.png"), image_path("ds3053-large.png"), {:rel => "prettyPhoto[one]", :title => ""} %>
					    	</div>
					    	<!-- End Pretty Photo -->

					    </div>
					    <div class="tab-pane" id="tab2">
						
					      	<h3>Letter of Authorization Forms - (LOA)</h3>
							<ol>
								<li>(2) Two Signed Original LOA must be submitted.</li>
								<li>The Letters of Authorization enables The Passport & Visa Company to hand carry your expedited passport application and certified documents into the US Department of State on your behalf. The LOA’s authorizes our agents to be notified and address any potential problems that may arise during the passport expediting process.</li>
							</ol>

							<!-- Pretty Photo -->
					    	<div class="pretty-images-content">
					    		<%= link_to image_tag("letter-of-authorization-thumb.png"), image_path("letter-of-authorization-large.png"), {:rel => "prettyPhoto[two]", :title => ""} %>
					    	</div>
					    	<!-- End Pretty Photo -->

					    </div>
					    <div class="tab-pane" id="tab3">
					    	<h3>Passport – Size Photographs</h3>
							<ol>
								<li>Identical taken within the last six months showing your current appearance</li>
								<li>Color photo</li>
								<li>Full face, front view with a plain white or off-white background.</li>
								<li>2x2 Passport sized between 1 inch and 1 3/8 inches from the bottom of the chin to the top of the head.</li>
								<li>Taken in normal street attire. Uniforms should not be worn in photographs except religious attire that is worn daily.</li>
								<li>Do NOT wear a hat or headgear that obscures the hair or hairline.</li>
								<li>If you normally wear prescription glasses, a hearing device, wig or similar articles, they should be worn for your picture.</li>
								<li>Dark glasses or nonprescription glasses with tinted lenses are not acceptable unless you need them for medical reasons. A medical certificate may be required.</li>
								<li>Do NOT wear a white shirt.</li>
							</ol>

							<!-- Pretty Photo -->
					    	<div class="pretty-images-content">
					    		<%= link_to image_tag("passportphotos-thumb.png"), image_path("passportphotos-large.png"), {:rel => "prettyPhoto[three]", :title => ""} %>
					    	</div>
					    	<!-- End Pretty Photo -->

					    </div>
					     
					    <div class="tab-pane" id="tab4">

					    	<h3>Proof of Personal Identification. Provide the ORIGINAL of ONE of the following: </h3>
					    	<ol>
					    		<li>A valid:
					    			<ul>
					    				<li>Driver’s License</li>
					    				<li>Current Government Identification (city, state or federal)</li>
					    				<li>Current Military Identification (for military applicants and dependents)</li>
					    			</ul>
					    		</li>
					    		<li>A previously issued &amp; undamaged U.S. Passport</li>
					    		<li>An ORIGINAL Naturalization Certificate</li>
					    	</ol>

					    	<!-- Pretty Photo -->
					    	<div class="pretty-images-content">
					    		<%= link_to image_tag("driverslicense-thumb.png"), image_path("driverslicense-large.png"), {:rel => "prettyPhoto[four]", :title => ""} %>
					    		<%= link_to image_tag("naturalization-thumb.png"), image_path("naturalization-large.png"), {:rel => "prettyPhoto[four]", :title => ""} %>
					    	</div>
					    	<!-- End Pretty Photo -->
					    	
					    </div>
					    <div class="tab-pane" id="tab5">
					    	<h3>Proof of U.S. Citizenship. Provide an ORIGINAL of ONE of the following:</h3>
					    	<ol>
					    		<li>A Certified Copy of your Birth Certificate issued by the County, City, or State of Birth to INCLUDE the FULL NAMES of the applicant’s parent(s).
						    		<ol>
							    		<li>BE ADVISED: Short, abstract, novelty or hospital birth certificates are NOT acceptable.</li>
							    		<li>Birth Certificates MUST include the following information and is referred to as the “long-form”
							    			<ul>
							    				<li>Applicants Full Name</li>
							    				<li>Date of Birth</li>
							    				<li>Place of Birth</li>
							    				<li>Applicants Parents Full Name</li>
							    				<li>A raised, embossed, impressed or multi-colored seal of the issuing authority</li>
							    				<li>The Registrar’s Signature</li>
							    				<li>The date the birth certificate was filed with the Registrar’s Office. NOTE: Must be filed within one year from date of birth.</li>
							    			</ul>
							    		</li>
							    	</ol>
						    	</li>
					    		<li>A previous issued, undamaged U.S. Passport</li>
					    		<li>The ORIGINAL Report of Birth Abroad (Form FS-240); or Certification of Birth Abroad (Form DS-1325); or Certificate of Citizenship.</li>
					    		<li>ORIGINAL Naturalization Certificate from USCIS.</li>
					    		
					    		
					    	</ol>

					    	<!-- Pretty Photo -->
					    	<div class="pretty-images-content">
					    		<%= link_to image_tag("birthcertificate-thumb.png"), image_path("birthcertificate-large.png"), {:rel => "prettyPhoto[five]", :title => ""} %>
					    			<%= link_to image_tag("naturalization-thumb.png"), image_path("naturalization-large.png"), {:rel => "prettyPhoto[five]", :title => ""} %>
					    	</div>	
					    	<!-- End Pretty Photo -->

					    </div>
					    <div class="tab-pane" id="tab12">

					    	<h3>Present Evidence of Relationship to Minor (Special Circumstances)</h3>
					    	<ol>
					    		<li>IMPORTANT: Present relationship to a Minor if items 1 through 3 are applicable. Parent(s) or Legal Guardian(s) must provide one of the following as evidence of their relationship to the applying minor:
					    			<ul>
					    				<li>The Original or Certified copy of the Court Order documenting custody</li>
					    				<li>The Original or Certified copy of the Court Order documenting guardianship</li>
					    				<li>The Original or Certified copy of the Adoption Decree documenting the adopting parents’ names.</li>
					    			</ul>
					    		</li>
				
					    	</ol>

					    <!-- 	<div class="pretty-images-content">
					    		<%= link_to image_tag("driverslicense-thumb.png"), image_path("driverslicense-large.png"), {:rel => "prettyPhoto[four]", :title => ""} %>
					    		<%= link_to image_tag("naturalization-thumb.png"), image_path("naturalization-large.png"), {:rel => "prettyPhoto[four]", :title => ""} %>
					    	</div> -->
					    
					    	
					    </div>
					    <div class="tab-pane" id="tab6">
					    	<h3>Proof of Travel</h3>
					    	<ol>
					    		<li>Copy of your international airline, bus, or cruise ticket or a round trip itinerary</li>
					    		<li>If traveling by personal vehicle, an original letter from the applicant addressed to the US Department of State-Passport Agency detailing your international travel plans.</li>
					    		<li>An original, signed letter from your employer on the company’s letterhead, address to the US Department of State – Passport Agency detailing your international travel.</li>
					    	</ol>

					    	<!-- Pretty Photo -->
					    	<div class="pretty-images-content">
					    		<%= link_to image_tag("travel-thumb.png"), image_path("travel-large.png"), {:rel => "prettyPhoto[six]", :title => "You will need a travel itenerary"} %>
					    	</div>
					    	<!-- End Pretty Photo -->

					    </div>
					    <div class="tab-pane" id="tab7">
					      <h3>Government Fees</h3>
					      <ol>
								<li>Provide a check or money order made payable to the US Department of State for $170.00.  NOTE: Please indicate your Full Name and Date of Birth in the memo field of your check.
					    			<ul>
					    				<li>Example: (Pauline LeAnn Brazo 10-Oct-1980).</li>
					    			</ul>
					    		</li>
					    		<li>In lieu of providing a separate check, this government fee can be paid with the expedite fee as part of your “Order.”  The Passport and Visa Company will provide the check on your behalf to the Department of State.</li>
					    		<li>You must make an appearance at an Acceptance Agency to have your signature witnessed.  You can look up the closest witnessing facility location based on zip code by going to <a href="http://iafdb.travel.state.gov">http://iafdb.travel.state.gov</a> . Some locations require appointments. Each location will indicate the facility name, street address, city, and pubic phone number, the hours of acceptance and the days.</li>
					    		<li>Provide a check, money order, cash, or credit card payment for the Witnessing Execution Fee of $25.00 at the Acceptance Agency. Note: Not all locations accept credit card payments and an additional service fee may apply.</li>					      </ol>

					    	<!-- Pretty Photo -->
					    	<div class="pretty-images-content">
								<%= link_to image_tag("check-thumb.png"), image_path("check-large.png"), {:rel => "prettyPhoto[seven]", :title => "You can write a personal check."} %>					    	
							</div>
					    	<!-- End Pretty Photo -->

					    </div>
					    <div class="tab-pane" id="tab8">
					    	<h3>Order Form &amp; Payment</h3>
					    	<ol>
					    		<li>Please download and complete <%= link_to "The Passport & Visa Company Order Form", asset_path("Order-Form.pdf"), :class => "", :target => "_blank" %> with your payment information.  Accepted forms of payment include: American Express, Visa, MasterCard, Discover, Money Order, Cash or payment by Check.</li>
					    	</ol>

					    	<!-- Pretty Photo -->
					    	<div class="pretty-images-content">
					    		<%= link_to image_tag("orderform-thumb.png"), image_path("orderform-large.png"), {:rel => "prettyPhoto[eight]", :title => "Fill out the TPAVC order form and return it with your application."} %>
					    	</div>
					    	<!-- End Pretty Photo -->

					    </div>
					    <div class="tab-pane" id="tab9">
					    	<h3>Quality Check </h3>
					    	<ol>
								<%= render :partial => "layouts/uploadform_passport" %>
					    	</ol>

					    </div>
					      <div class="tab-pane" id="tab11">
								<%= render :partial => "layouts/generate_label" %>
					    </div>
				  	</div>
				  </div>
			
		
		</div><!--END SPAN12-->



	
