<div class="row">
		<div class="span12 main-row-padding">
				<div class="span">
					<div class="globe main-image-margin"></div>
				</div>
				<div class="span8">
					<div class="span8 line-break" style="max-width:730px;">
						<h1 title="Expedited Passport Renewal and Visa Services | Austin - Houston - Dallas - Denver" class="light-bold">THE PASSPORT &amp; <span class="highlight">VISA</span> COMPANY </h1>
						<h2 title="Expedited Passport Renewal and Visa Services | Austin - Houston - Dallas - Denver" class="light-bold">Expedited Passports &amp; Visa Services </h2>
						<h3 class="b-text-center"> The Passport and Visa Company works with the US Dept. of State Passport Agencies, Consulates and Embassies to ensure the acceptance and fast processing of an applicant’s passport or visa.</h3>
						<!-- <h3>The Passport &amp; Visa Company (TPAVC) is a registered agent with the U.S. State Department - Passport Agency and specializes in Passport &amp; Travel Visa document expedites for International departures occurring in under (2) two weeks time frame.</h3> -->
						<!-- <h6 title="Passport Renewal and Visa Applications | Austin - Houston - Dallas - Denver ">New Passports, Passport Renewals, 2nd Passports, Change Your Last Name on a Passport, Add Pages to a Passport, or Replace a Stolen Passport. </h6> -->
					</div>
				</div>
		</div>
</div>
<div class="span12 second-row-padding">
			<div class="span5">
				<h2 class="center-heading light-bold" title="Expedited U.S. Passport Renewal and Visa Services | Austin - Houston - Dallas - Denver">Expedited U.S. Passports</h2>
				<div class="passport-main">
					<ul>
						<li><div class="new-passports"></div><h4><%= link_to "See All Passports", downloadpassports_path, :title => "Get a New US Passport in as little as 24 hours", :class => "light-bold reverse-color" %></h4></li>
						<li><div class="new-passports"></div><h4><%= link_to "New U.S. Minor Passport", newminorpassport_path, :title => "Get a New US Passport in as little as 24 hours", :class => "light-bold reverse-color" %></h4></li>
						<li><div class="name-change-passports"></div><h4><%= link_to "Name Change Passport", namepassport_path, :title => "Recently widowed or divorced?  Change Your Last Name on a Passport", :class => "light-bold reverse-color" %></h4></li>
						<li><div class="second-passports"></div><h4><%= link_to "Secondary Passport", secondpassport_path, :title => "Travel to Middle East a lot? Get a Second Passport", :class => "light-bold reverse-color" %></h4></li>
					</ul>
				</div>
				<div class="passport-main">
					<ul>
						<li><div class="new-passports"></div><h4><%= link_to "New U.S. Adult  Passport", newadultpassport_path, :title => "Get a New US Passport in as little as 24 hours", :class => "light-bold reverse-color" %></h4></li>
						<li><div class="renewal-passports"></div><h4><%= link_to "U.S. Passport Renewal", renewpassport_path, :title => "Expired Passport? Fast Passport Renewal | Austin - Houston - Dallas - Denver ", :class => "light-bold reverse-color" %></h4></li>
						<li><div class="lost-or-damaged-passports"></div><h4><%= link_to "Lost or Stolen Passport", lostpassport_path, :title => "Lost or Stolen Passport", :class => "light-bold reverse-color" %></h4></li>
						<li><div class="add-pages-passports"></div><h4><%= link_to "Additional Visa Pages", addpagespassport_path, :title => "Add Visa Pages to a Passport", :class => "light-bold reverse-color" %></h4></li>	
					</ul>
				</div>
			</div>
			<div class="span6">
				
					<span>
						<h2 style="line-height:0px;" class="light-bold">
							<!-- <div class="visa-icon" style="margin-bottom:15px;"></div> -->
							<span style="line-height:40px;margin-top:20px;" >Travel <span class="highlight">Visas</span> to Any Country  </span>
						</h2>
					</span>
			
			</div>	
		
			<div class="span3">
				<div class="extra-margin">
				<%= render :partial => "layouts/search_form" %>
			</div>
			</div>
			<div class="span2" style="margin-left:60px;">
				<div class="span2">
					<div class="extra-margin">
						<h5 style="margin-top:65px;"><i>To get immediate help or assistance with visa information please chat live with an agent...</i></h5>
						<!-- <h5 style="background-color:#1B325E; color:#fff; padding:10px 10px; width:95%;border-radius:4px;">For visa requirements and application click on the country of destination.</h5> -->
						<div class="live-chat" style="margin:30px 0px 50px 0px;"></div>
					</div>
					
				</div>
			</div>
</div>